body {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
h1 {
  font-size: 96px;
  margin: 0;
}
h2 {
  font-size: 24;
}
h3 {
  font-size: 40;
  /* font-weight: 500; */
}
button {
  text-transform: uppercase;
  font-size: 14px;
}
